@media (max-width: 1200px) {
    header .header__top_text {
        display: none;
    }
}

@media (max-width: 992px) {
    .header__navbar_row {
        justify-content: start;
        flex-direction: column;
    }

    .header__navbar_list {
        margin-top: 30px;
        flex-direction: column;
        align-items: start;
        height: 0;
        display: none;
        transition: all 0.5s;
    }

    .header__navbar_list.active {
        height: auto;
        display: flex;
        transition: all 0.5s;
    }

    .header__navbar_item ul {
        position: relative;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        padding: 10px 20px;
        height: 0;
        display: none;
        transition: all 0.4s;
    }

    .header__navbar_item ul.active {
        position: relative;
        top: 0;
        left: 0;
        z-index: 0;
        opacity: 1;
        padding: 10px 20px;
        display: block;
        height: auto;
        transition: all 0.4s;
    }

    .header__navbar_item {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .links-table .fast-connect-box {
        width: calc(100% / 2);
    }
}

@media (max-width: 767px) {
    .header__top_row {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .header__top_logo {
        margin: 10px auto 20px;
        order: 1;
        border-bottom: 1px solid rgba(16, 24, 40, 0.1);
    }

    header .tel_nomer {
        display: none;
    }

    .header__top_connect {
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
    }

    .header__top_translatebox {
        justify-content: center;
        order: 0;
    }

    .links-table .fast-connect-box {
        width: 100%;
        padding: 40px 20px;
    }
}

@media (min-width: 992px) {
    .big-nav-list {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        background-color: #1466B3;
        opacity: 1;
        z-index: 10;
        transition: left 0.4s;
    }

    .big-nav-list.deactive {
        left: -150%;
        opacity: 0;
        transition: left 0.4s;
    }

    .big-nav-list .header__navbar_list {
        align-items: start;
        padding: 50px 0;
    }

    .big-nav-list .header__navbar_item {
        font-weight: 300;
        font-size: 20px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.5);
    }

    .big-nav-list .header__navbar_item ul {
        position: static;
        opacity: 1;
        left: -5%;
        z-index: 0;
        padding: 10px;
    }

    /* main slider */
    .main-slider {
        height: calc(100vh - 156px);
    }
}

@media (min-width: 1500px) {
    .container {
        max-width: 1470px;
    }
}